* {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 60px;
}

input {
  color: grey;
  width: 100%;
  font-size: 1.2rem;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  max-width: 30vw;
  height: 40vh;
}

.card p {
  margin: 0;
  padding: 10px;
  font-size: large;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}